/* No custom CSS needed, using PrimeFlex and PrimeNG design tokens */
.custom-scroll::-webkit-scrollbar {
    height: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}
